In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('colorName.csv')

In [5]:
df.head()

                  name1                  name2      hex  red  green  blue
0    air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93    138   168
1   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0     48   143
2  air_superiority_blue   Air Superiority Blue  #72a0c1  114    160   193
3       alabama_crimson        Alabama Crimson  #a32638  163     38    56
4            alice_blue             Alice Blue  #f0f8ff  240    248   255

In [6]:
X,y = df[['red','green','blue']],df['name2']

In [7]:
X.head()

   red  green  blue
0   93    138   168
1    0     48   143
2  114    160   193
3  163     38    56
4  240    248   255

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
model = KNeighborsClassifier(n_neighbors=1)

In [10]:
model.fit(X,y)

KNeighborsClassifier(n_neighbors=1)

In [11]:
test=[253,150,50]

In [12]:
model.predict([test])[0]

'Deep Saffron'

In [13]:
import pickle
# open a file, where you ant to store the data
file = open('color.pkl', 'wb')

# dump information to that file
pickle.dump(model, file)